.uiButton {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    margin: .5rem;
    padding: .75rem 1rem;;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $info;
    border: .0625rem solid rgba($grey-90, .5);
    border-radius: $border-radius;
    color: $grey-90;
    font-size: .95rem;
    font-weight: 700;
    text-transform: uppercase;
    filter: $shadow-static;
    transition: $transition-250;
    &:hover {
        filter: $shadow-hover;
        background-color: mix($grey-70, $info, 25%);
        transition: $transition-500;
    }
    &:focus {
        background-color: mix($grey-90, $info, 15%);
        outline: none;
    }
}
