// Google Fonts
$font-muli: 'Muli', sans-serif;

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: $font-muli;
    * {
        box-sizing: border-box;
        &::-webkit-scrollbar {
            width: 0px;
            background-color: transparent   !important;
        }
        &::-moz-scrollbar {
            width: 0px;
            background-color: transparent   !important;
        }
    }
    .bodyDimmer {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 250;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($grey-10, .35);
    }
    a.light {
        display: inline-block;
        padding: 0 .15rem;
        font-weight: 700;
        color: inherit;
        text-decoration: none;
        transition: $transition-500;
        background-image: linear-gradient(transparent 65%, rgba($white, .25) 65%, rgba($white, .25) 85%, transparent 85%, transparent 100%);
        background-image: -webkit-linear-gradient(transparent 65%, rgba($white, .25) 65%, rgba($white, .25) 85%, transparent 85%, transparent 100%);
        &:hover {
            color: $pipeline-blue;
            text-decoration: none;
            transition: $transition-250;
            background-image: linear-gradient(transparent 0%, rgba($white, .75) 0%, rgba($white, .75) 100%);
            background-image: -webkit-linear-gradient(transparent 0%, rgba($white, .75) 0%, rgba($white, .75) 100%);
        }
	}
}