// transitionitions
$transition-150: 150ms ease;
$transition-250: 250ms ease;
$transition-350: 350ms ease;
$transition-500: 500ms ease;
$transition-750: 750ms ease;
$transition-1000: 1000ms ease;


// Drop Shadows
$shadow-static: drop-shadow(0 .125rem .0625rem $grey-80);
$shadow-hover: drop-shadow(0 .35rem .5rem $grey-80);

$shadow-plain: drop-shadow(0 .125rem .3rem $grey-90);


// Border Radius
$border-radius: .5rem;


// Animations
@keyframes rightArrowBounce {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0px);
    }
}